body {
	font-family: Helvetica, Arial, sans-serif;
}

#header {
	background-color: #F36E21;
	min-height: 75px;
	padding-bottom: 0px;
	position: relative;
}

#header h1 {
	position: absolute;
	vertical-align: bottom;
	bottom: 0px;
	color: white;
	vertical-align: center;
}

#header h5 {
	position: absolute;
	vertical-align: bottom;
	bottom: 0px;
	left: 275px;
	color: white;
}

#headLogo {
	float: right;
	padding-top: 1%;
}

#rightCol {
	float: right;
}

#results {
	list-style: none;
	text-align: left;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 200px;
	height: 400px;
	max-height: 400px;
}

#searchCol {
	text-align: center;
}

.rmNum {
	padding-left: 15px;
}

#results hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

#results li:active {
	transition: all .25s ease;
	background-color: #09F;
	color: white;
}

#results li:hover {
	transition: all .25s ease;
	background-color: #09F;
	color: white;
}

.activeResult {
	background-color: #09F;
	color: white;
}